{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "singleQuote": false,
        "proseWrap": "preserve"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
